<h1>All users</h1>

<div class="apple_pagination">
	  <%= will_paginate  :container => false %>
</div>

<ul class="users clearfix unstyled">
	
		<%= render @users %>
	
</ul>

<div class="apple_pagination">
	  <%= will_paginate :container => false %>
</div>